body {
    background-image: url("../Images/silas-baisch-K785Da4A_JA-unsplash.jpg");
    background-color: blueviolet;
    
}

/* @media(min-width: 750px){ */
    .container{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10vh 40% 1fr;
        grid-template-areas: 
        "navbar navbar navbar navbar navbar navbar"
        ". prof-pic prof-info prof-info prof-info ."
        ". posts posts posts posts .";
    }
/* } This is how you do a media query */
.prof-pic{
    grid-area: prof-pic;
    display: flex;
    align-items: center;
}

#prof-pic{
    width: 100%;
    height: auto;
}

.navbar{
    grid-area: navbar;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar a{
    color: wheat;
    text-decoration: none;
}

.prof-info{
    grid-area: prof-info;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5vw;
} 

.prof-info > h1{
    align-self: center;
}

.posts{
    grid-area: posts;
}

.post-card{
    border: 1px solid black;
    padding: 1vh;
    margin: 2vh 0;
}

.card-links{
    display: flex;
    justify-content: space-around;
}

.card-links > a{
    text-decoration: none;
    color: skyblue;   
}

.card-links > a:hover{
    text-decoration: underline;
    background-color: rgb(8, 103, 71);
}