body {
    background-color: blueviolet;
    margin: 0;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh repeat(2, 1fr);
    grid-template-areas: 
    "navbar navbar navbar navbar navbar navbar"
    ". prof-pic prof-info prof-info prof-info ."
    ". posts posts posts posts .";
}

.prof-pic{
    grid-area: prof-pic;
}

.navbar{
    grid-area: navbar;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar a{
    color: wheat;
    text-decoration: none;
}

.prof-info{
    grid-area: prof-info;
}

.posts{
    grid-area: posts;
}